.dot-grid-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; // Ensure it doesn't interfere with other interactions
  z-index: 0; // Place it on top, but below the main content
}

.dot-grid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .svg {
    @extend .w-full;
    @extend .h-full;
  }
}
