.toast {
  @extend .flex;
  @extend .ali-start;
  @extend .jus-center;
  background: var(--token-color-surface-d);
  @extend .text-color-a;
  @extend .weight-book;
  @extend .text-s;
  @extend .text-center;
  @extend .gap-m;
  @extend .corner-s;
  @extend .p-l;
  @extend .pr-2xl-sm;

  position: fixed;
  z-index: 1;
  cursor: pointer;
  right: var(--spacing-xl);
  bottom: var(--spacing-xl);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);

  &:hover {
  }

  &.show {
    visibility: visible;
    animation: fadein 0.2s, fadeout 0.5s 2.5s;
  }

  button {
    background: none;
    border: none;
    cursor: pointer;

    svg {
      fill: var(--token-color-icon-a);
      overflow: visible;

      &:hover,
      &:focus {
        transform: scale(1.2);
      }

      &:active {
        transform: scale(1);
      }
    }
  }
}

@media (max-width: 768px) {
  .toast {
    bottom: 0;
    padding-bottom: var(--spacing-2xl);
    left: 0;
    right: 0;
    font-size: var(--font-size-m);

    svg {
      scale: 1.5;
      position: fixed;
      right: var(--spacing-xl);
      top: var(--spacing-l);
    }

    &:hover {
      transform: none;
      transition: none;
    }
  }
}
