// Display Utilities
.disp-none {
  display: none !important;
}

.disp-block {
  display: block !important;
}

.disp-inline {
  display: inline !important;
}

.disp-inline-block {
  display: inline-block !important;
}

.disp-flex {
  display: flex !important;
}

.disp-inline-flex {
  display: inline-flex !important;
}

.disp-grid {
  display: grid !important;
}

.disp-inline-grid {
  display: inline-grid !important;
}

.disp-table {
  display: table !important;
}

.disp-table-cell {
  display: table-cell !important;
}

.disp-table-row {
  display: table-row !important;
}

.disp-table-column {
  display: table-column !important;
}

// Display Properties based on breakpoints
@media (min-width: 576px) {
  .disp-none-sm {
    display: none !important;
  }

  .disp-block-sm {
    display: block !important;
  }

  .disp-inline-sm {
    display: inline !important;
  }

  .disp-inline-block-sm {
    display: inline-block !important;
  }

  .disp-flex-sm {
    display: flex !important;
  }

  .disp-inline-flex-sm {
    display: inline-flex !important;
  }

  .disp-grid-sm {
    display: grid !important;
  }

  .disp-inline-grid-sm {
    display: inline-grid !important;
  }
}

@media (min-width: 768px) {
  .disp-none-md {
    display: none !important;
  }

  .disp-block-md {
    display: block !important;
  }

  .disp-inline-md {
    display: inline !important;
  }

  .disp-inline-block-md {
    display: inline-block !important;
  }

  .disp-flex-md {
    display: flex !important;
  }

  .disp-inline-flex-md {
    display: inline-flex !important;
  }

  .disp-grid-md {
    display: grid !important;
  }

  .disp-inline-grid-md {
    display: inline-grid !important;
  }
}

@media (min-width: 992px) {
  .disp-none-lg {
    display: none !important;
  }

  .disp-block-lg {
    display: block !important;
  }

  .disp-inline-lg {
    display: inline !important;
  }

  .disp-inline-block-lg {
    display: inline-block !important;
  }

  .disp-flex-lg {
    display: flex !important;
  }

  .disp-inline-flex-lg {
    display: inline-flex !important;
  }

  .disp-grid-lg {
    display: grid !important;
  }

  .disp-inline-grid-lg {
    display: inline-grid !important;
  }
}

@media (min-width: 1200px) {
  .disp-none-xl {
    display: none !important;
  }

  .disp-block-xl {
    display: block !important;
  }

  .disp-inline-xl {
    display: inline !important;
  }

  .disp-inline-block-xl {
    display: inline-block !important;
  }

  .disp-flex-xl {
    display: flex !important;
  }

  .disp-inline-flex-xl {
    display: inline-flex !important;
  }

  .disp-grid-xl {
    display: grid !important;
  }

  .disp-inline-grid-xl {
    display: inline-grid !important;
  }
}
