// Brightness Utilities
@each $name,
  $value
    in (
      10: 0.1,
      20: 0.2,
      30: 0.3,
      40: 0.4,
      50: 0.5,
      60: 0.6,
      70: 0.7,
      80: 0.8,
      90: 0.9,
      100: 1
    )
{
  .dim-#{$name} {
    --brightness: brightness(#{$value});
    filter: var(--brightness) var(--blur);
  }
}

// Blur Utilities
@each $name,
  $value
    in (
      1: 1px,
      2: 2px,
      3: 3px,
      4: 4px,
      5: 5px,
      6: 6px,
      7: 7px,
      8: 8px,
      9: 9px,
      10: 10px,
      11: 11px,
      12: 12px,
      13: 13px,
      14: 14px,
      15: 15px,
      16: 16px,
      17: 17px,
      18: 18px,
      19: 19px,
      20: 20px
    )
{
  .blur-#{$name} {
    --blur: blur(#{$value});
    filter: var(--brightness) var(--blur);
  }
}
