// Scale Utilities
@each $name, $value in $scale-sizes {
  .scale-#{$name} {
    transform: scale(#{$value});
  }
}

// Transform Origin Utilities
@each $name, $value in $origins {
  .origin-#{$name} {
    transform-origin: $value;
  }
}

@each $name, $value in $spacing-sizes {
  .translate-x-#{$name} {
    transform: translateX(#{$value});
  }
  .translate-y-#{$name} {
    transform: translateY(#{$value});
  }
  .translate-#{$name} {
    transform: translate(#{$value}, #{$value});
  }
}
