:root {
  // Color Primitives
  --color-grey-s100: #141414;
  --color-grey-s200: #191919;
  --color-grey-s300: #080808;
  --color-grey-s400: #070707;
  --color-black-t100: rgba(0, 0, 0, 0.7);
  --color-black-t200: rgba(0, 0, 0, 0.3);
  --color-black-t300: rgba(0, 0, 0, 0.01);
  --color-white-s100: #ffffff;
  --color-white-t100: rgba(255, 255, 255, 0.5);
  --color-white-t200: rgba(255, 255, 255, 0.2);
  --color-red-s100: #ff0000;
  --color-red-t100: #ff00004d;
  --color-green-s100: #14ff00;
  --color-green-s200: #11d200;
  --color-blue-s100: #0071a4;
  --color-multi-s100: url(/assets/images/multi-s100.webp);
  --color-gradient-s100: linear-gradient(
    345deg,
    #0063ab -53.05%,
    #03d2ff 112.12%
  );
}
