*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: none;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html,
body {
  height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Gotham", Arial, sans-serif;
  line-height: 1.6;
  color: var(--token-color-text-b);
  background-color: var(--token-color-surface-a);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-medium);
  color: var(--token-color-text-a);
  line-height: 130%;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.2rem;
}

p {
  font-size: 1.1rem;
  font-weight: 300;
}

ul {
  list-style: none;
}

li {
  font-size: 1.125rem;
  font-weight: var(--font-weight-book);
}

label {
  font-size: 1.125rem;
  font-weight: var(--font-weight-book);
  display: flex;
  flex-direction: row;
}

.section {
  display: flex;
  height: 100vh;
  max-height: 91200px;
  min-height: 640px;
  padding-left: var(--spacing-2xl);
  padding-right: var(--spacing-2xl);
  gap: var(--spacing-2xl);
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  max-width: 1200px;
}
@media (max-width: 768px) {
  .section {
    padding-top: calc(var(--spacing-header) + var(--spacing-l));
  }
}
.section .input-section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
  width: 100%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-l);
  width: 100%;
  max-width: 600px;
}

input {
  padding: var(--spacing-m) var(--spacing-s);
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  border-radius: var(--corner-m);
  border: 0.5px solid var(--token-color-border-b);
  background-color: transparent;
}
input:focus {
  outline: none;
}

input-error {
  color: var(--token-color-text-bad-a);
}

textarea {
  min-height: 120px;
  resize: none;
  padding: var(--spacing-m) var(--spacing-s);
  align-items: center;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: var(--corner-m);
  border: 0.5px solid var(--token-color-border-b);
  background-color: transparent;
}
textarea:focus {
  outline: none;
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-s);
}
label .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

section h1 .highlight {
  position: relative;
  display: block;
  display: inline-block;
  font-weight: var(--font-weight-medium);
  line-height: 1.2;
  color: transparent;
  background-image: var(--token-color-surface-multi);
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 100%;
  background-position: 50% 50%;
}

.section h1 .highlight::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: inherit;
  font-weight: var(--font-weight-medium);
  line-height: inherit;
  color: transparent;
  background-image: var(--token-color-surface-multi);
  -webkit-background-clip: text;
  background-clip: text;
  filter: blur(5px);
  opacity: 0.5; /* Adjust opacity for better visibility */
  background-size: inherit;
  background-position: inherit;
  transform: translateY(3px) scale(0.95);
}

.section h1 {
  font-weight: var(--font-weight-book);
}

.section p .highlight {
  font-weight: var(--font-weight-book);
  color: var(--token-color-text-a);
}

.input-section label {
  font-size: 1.2rem;
  color: var(--token-color-text-a);
  font-weight: var(--font-weight-medium);
}
.input-section .label-error {
  color: var(--token-color-text-bad-a);
}

input {
  font-weight: var(--font-weight-light);
  font-size: 0.9375rem;
  color: var(--token-color-text-a);
}

input::placeholder {
  color: var(--token-color-text-b);
  font-weight: var(--font-weight-light);
}

.input-error {
  color: var(--token-color-text-bad-a);
}

.input-error::placeholder {
  color: var(--token-color-text-bad-b);
}

textarea {
  font-weight: var(--font-weight-light);
  line-height: 1.6;
  color: var(--token-color-text-a);
  font-size: 0.9375rem;
}

textarea::placeholder {
  color: var(--token-color-text-b);
  font-weight: var(--font-weight-light);
}

.error-message {
  color: var(--token-color-text-bad-a);
  font-size: 0.8rem;
  display: none;
}

.button {
  font-family: "Gotham", Arial, sans-serif;
  font-weight: 500;
  padding-left: var(--spacing-xl);
  padding-right: var(--spacing-xl);
  height: var(--spacing-btn);
  min-height: var(--spacing-btn);
  width: auto;
  border-radius: var(--corner-l);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.1s;
  background-color: var(--token-color-surface-b);
  color: var(--token-color-text-a);
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-medium);
}
.button:hover {
  background-color: var(--token-color-surface-c);
}
.button:active {
  transform: scale(0.97);
  color: var(--token-color-text-b);
}
.button--primary {
  background-color: var(--token-color-surface-b);
}
.button--secondary {
  background-color: transparent;
  border: 1px solid var(--token-color-border-a);
}
.button--tertiary {
  height: fit-content;
  background-color: transparent;
  padding: 0;
}
.button--full-width {
  width: 100%;
}
.button--auto-width {
  width: auto;
  max-width: fit-content;
}

header {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  background: var(--token-color-surface-d);
  padding-left: var(--spacing-xl, 24px);
  padding-right: var(--spacing-xl, 24px);
  height: var(--spacing-header, 100px);
  z-index: 10;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}
header .logo {
  color: #fff;
  font-size: 1.5rem;
}
header .menu-toggle {
  background: none;
  border: 0;
  cursor: pointer;
}
header .menu-toggle .icon {
  display: block;
  width: 30px;
  height: 30px;
  background: url("/assets/icons/bars-alt.svg") no-repeat center center;
  background-size: contain;
}

.dropdown-menu {
  display: none;
  position: fixed;
  right: 0;
  top: var(--spacing-header);
  background: var(--token-color-surface-d);
  border-radius: 0px 0px var(--corner-l) var(--corner-l);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  z-index: 11;
}
.dropdown-menu.is-visible {
  display: block;
}
.dropdown-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.dropdown-menu li {
  display: block;
  padding: 0;
  justify-items: center;
  align-items: center;
}
.dropdown-menu li a {
  display: block;
  width: 100%;
  padding: var(--spacing-l) var(--spacing-3xl);
  color: var(--token-color-text-a);
  text-decoration: none;
}
.dropdown-menu li a:hover {
  color: var(--token-color-text-b);
}

@media (max-width: 768px) {
  .dropdown-menu {
    width: 100%;
    left: 0;
    top: var(--spacing-header);
    border-radius: 0px 0px var(--corner-2xl) var(--corner-2xl);
  }
  .dropdown-menu li {
    text-align: center;
  }
}
.contact-icons {
  display: flex;
  gap: var(--spacing-xl);
  justify-content: center;
  align-items: center;
}
.contact-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--spacing-2xl);
  height: var(--spacing-2xl);
}
.contact-icons a svg {
  fill: var(--token-color-icon-a);
  max-width: 100%;
  max-height: 100%;
  transition: 0.2s;
  overflow: visible;
}
.contact-icons a svg:hover, .contact-icons a svg:focus {
  transform: scale(1.05);
}
.contact-icons a svg:active {
  fill: var(--token-color-icon-b);
}

.toast {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--token-color-surface-d);
  color: var(--token-color-text-a);
  font-weight: var(--font-weight-book);
  font-size: var(--font-size-s);
  text-align: center;
  gap: var(--spacing-m);
  border-radius: var(--corner-m);
  padding: var(--spacing-l);
  position: fixed;
  z-index: 1;
  cursor: pointer;
  right: var(--spacing-xl);
  bottom: var(--spacing-xl);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}
.toast:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
.toast.show {
  visibility: visible;
  animation: fadein 0.2s, fadeout 0.5s 2.5s;
}
.toast button {
  background: none;
  border: none;
  cursor: pointer;
}
.toast button svg {
  fill: var(--token-color-icon-a);
  overflow: visible;
}
.toast button svg:hover, .toast button svg:focus {
  transform: scale(1.2);
}
.toast button svg:active {
  transform: scale(1);
}

@media (max-width: 768px) {
  .toast {
    bottom: 0;
    padding-bottom: var(--spacing-2xl);
    left: 0;
    right: 0;
    font-size: var(--font-size-m);
  }
  .toast svg {
    scale: 1.5;
    position: fixed;
    right: var(--spacing-xl);
    top: var(--spacing-l);
  }
  .toast:hover {
    transform: none;
    transition: none;
  }
}
@font-face {
  font-family: "Gotham";
  src: url("/assets/fonts/gotham/ttf/Gotham-Medium_Web.ttf") format("truetype"), url("/assets/fonts/gotham/woff/Gotham-Medium_Web.woff") format("woff"), url("/assets/fonts/gotham/woff2/Gotham-Medium_Web.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("/assets/fonts/gotham/ttf/Gotham-MediumItalic_Web.ttf") format("truetype"), url("/assets/fonts/gotham/woff/Gotham-MediumItalic_Web.woff") format("woff"), url("/assets/fonts/gotham/woff2/Gotham-MediumItalic_Web.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("/assets/fonts/gotham/ttf/Gotham-Book_Web.ttf") format("truetype"), url("/assets/fonts/gotham/woff/Gotham-Book_Web.woff") format("woff"), url("/assets/fonts/gotham/woff2/Gotham-Book_Web.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("/assets/fonts/gotham/ttf/Gotham-BookItalic_Web.ttf") format("truetype"), url("/assets/fonts/gotham/woff/Gotham-BookItalic_Web.woff") format("woff"), url("/assets/fonts/gotham/woff2/Gotham-BookItalic_Web.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("/assets/fonts/gotham/ttf/Gotham-Light_Web.ttf") format("truetype"), url("/assets/fonts/gotham/woff/Gotham-Light_Web.woff") format("woff"), url("/assets/fonts/gotham/woff2/Gotham-Light_Web.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("/assets/fonts/gotham/ttf/Gotham-LightItalic_Web.ttf") format("truetype"), url("/assets/fonts/gotham/woff/Gotham-LightItalic_Web.woff") format("woff"), url("/assets/fonts/gotham/woff2/Gotham-LightItalic_Web.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
:root {
  --spacing-3xs: 2px;
  --spacing-2xs: 4px;
  --spacing-xs: 6px;
  --spacing-s: 8px;
  --spacing-m: 12px;
  --spacing-l: 16px;
  --spacing-xl: 24px;
  --spacing-2xl: 36px;
  --spacing-3xl: 64px;
  --spacing-4xl: 80px;
  --spacing-btn: 64px;
  --spacing-text-input: 46px;
  --spacing-header: 100px;
  --corner-xs: 4px;
  --corner-s: 6px;
  --corner-m: 8px;
  --corner-l: 12px;
  --corner-xl: 16px;
  --corner-2xl: 20px;
  --corner-3xl: 24px;
  --color-grey-s100: #141414;
  --color-grey-s200: #191919;
  --color-grey-s300: #080808;
  --color-grey-s400: #070707;
  --color-black-t100: rgba(0, 0, 0, 0.6);
  --color-black-t200: rgba(0, 0, 0, 0.3);
  --color-white-s100: #ffffff;
  --color-white-t100: rgba(255, 255, 255, 0.5);
  --color-white-t200: rgba(255, 255, 255, 0.2);
  --color-red-s100: #ff0000;
  --color-red-t100: #ff00004d;
  --color-green-s100: #14ff00;
  --color-blue-s100: #0071a4;
  --color-multi-s100: url(/assets/images/multi-s100.webp);
  --token-color-surface-a: var(--color-grey-s300);
  --token-color-surface-b: var(--color-grey-s200);
  --token-color-surface-c: var(--color-grey-s100);
  --token-color-surface-d: var(--color-black-t100);
  --token-color-surface-e: var(--color-black-t200);
  --token-color-surface-multi: var(--color-multi-s100);
  --token-color-surface-bad: var(--color-red-s100);
  --token-color-surface-good: var(--color-green-s100);
  --token-color-text-a: var(--color-white-s100);
  --token-color-text-b: var(--color-white-t100);
  --token-color-text-bad-a: var(--color-red-s100);
  --token-color-text-bad-b: var(--color-red-t100);
  --token-color-border-a: var(--color-white-t100);
  --token-color-border-b: var(--color-white-t200);
  --token-color-border-bad: var(--color-red-s100);
  --token-color-icon-a: var(--color-white-s100);
  --token-color-icon-b: var(--color-white-t100);
  --token-color-icon-bad: var(--color-red-s100);
  --font-size-root: 16px;
  --font-size-2xs: 0.75rem;
  --font-size-xs: 0.75rem;
  --font-size-s: 0.875rem;
  --font-size-m: 1rem;
  --font-size-l: 1.2rem;
  --font-size-xl: 1.5rem;
  --font-size-2xl: 1.75rem;
  --font-size-3xl: 2rem;
  --font-size-4xl: 2.5rem;
  --font-weight-light: 100;
  --font-weight-book: 300;
  --font-weight-medium: 500;
}

.p-3xs {
  padding: 2px;
}

.pt-3xs {
  padding-top: 2px;
}

.pr-3xs {
  padding-right: 2px;
}

.pb-3xs {
  padding-bottom: 2px;
}

.pl-3xs {
  padding-left: 2px;
}

.px-3xs {
  padding-left: 2px;
  padding-right: 2px;
}

.py-3xs {
  padding-top: 2px;
  padding-bottom: 2px;
}

.p-2xs {
  padding: 4px;
}

.pt-2xs {
  padding-top: 4px;
}

.pr-2xs {
  padding-right: 4px;
}

.pb-2xs {
  padding-bottom: 4px;
}

.pl-2xs {
  padding-left: 4px;
}

.px-2xs {
  padding-left: 4px;
  padding-right: 4px;
}

.py-2xs {
  padding-top: 4px;
  padding-bottom: 4px;
}

.p-xs {
  padding: 6px;
}

.pt-xs {
  padding-top: 6px;
}

.pr-xs {
  padding-right: 6px;
}

.pb-xs {
  padding-bottom: 6px;
}

.pl-xs {
  padding-left: 6px;
}

.px-xs {
  padding-left: 6px;
  padding-right: 6px;
}

.py-xs {
  padding-top: 6px;
  padding-bottom: 6px;
}

.p-s {
  padding: 8px;
}

.pt-s {
  padding-top: 8px;
}

.pr-s {
  padding-right: 8px;
}

.pb-s {
  padding-bottom: 8px;
}

.pl-s {
  padding-left: 8px;
}

.px-s {
  padding-left: 8px;
  padding-right: 8px;
}

.py-s {
  padding-top: 8px;
  padding-bottom: 8px;
}

.p-m {
  padding: 12px;
}

.pt-m {
  padding-top: 12px;
}

.pr-m {
  padding-right: 12px;
}

.pb-m {
  padding-bottom: 12px;
}

.pl-m {
  padding-left: 12px;
}

.px-m {
  padding-left: 12px;
  padding-right: 12px;
}

.py-m {
  padding-top: 12px;
  padding-bottom: 12px;
}

.p-l {
  padding: 16px;
}

.pt-l {
  padding-top: 16px;
}

.pr-l {
  padding-right: 16px;
}

.pb-l {
  padding-bottom: 16px;
}

.pl-l {
  padding-left: 16px;
}

.px-l {
  padding-left: 16px;
  padding-right: 16px;
}

.py-l {
  padding-top: 16px;
  padding-bottom: 16px;
}

.p-xl {
  padding: 24px;
}

.pt-xl {
  padding-top: 24px;
}

.pr-xl {
  padding-right: 24px;
}

.pb-xl {
  padding-bottom: 24px;
}

.pl-xl {
  padding-left: 24px;
}

.px-xl {
  padding-left: 24px;
  padding-right: 24px;
}

.py-xl {
  padding-top: 24px;
  padding-bottom: 24px;
}

.p-2xl {
  padding: 36px;
}

.pt-2xl {
  padding-top: 36px;
}

.pr-2xl {
  padding-right: 36px;
}

.pb-2xl {
  padding-bottom: 36px;
}

.pl-2xl {
  padding-left: 36px;
}

.px-2xl {
  padding-left: 36px;
  padding-right: 36px;
}

.py-2xl {
  padding-top: 36px;
  padding-bottom: 36px;
}

.p-3xl {
  padding: 64px;
}

.pt-3xl {
  padding-top: 64px;
}

.pr-3xl {
  padding-right: 64px;
}

.pb-3xl {
  padding-bottom: 64px;
}

.pl-3xl {
  padding-left: 64px;
}

.px-3xl {
  padding-left: 64px;
  padding-right: 64px;
}

.py-3xl {
  padding-top: 64px;
  padding-bottom: 64px;
}

.p-4xl {
  padding: 80px;
}

.pt-4xl {
  padding-top: 80px;
}

.pr-4xl {
  padding-right: 80px;
}

.pb-4xl {
  padding-bottom: 80px;
}

.pl-4xl {
  padding-left: 80px;
}

.px-4xl {
  padding-left: 80px;
  padding-right: 80px;
}

.py-4xl {
  padding-top: 80px;
  padding-bottom: 80px;
}

.m-3xs {
  margin: 2px;
}

.mt-3xs {
  margin-top: 2px;
}

.mr-3xs {
  margin-right: 2px;
}

.mb-3xs {
  margin-bottom: 2px;
}

.ml-3xs {
  margin-left: 2px;
}

.mx-3xs {
  margin-left: 2px;
  margin-right: 2px;
}

.my-3xs {
  margin-top: 2px;
  margin-bottom: 2px;
}

.m-2xs {
  margin: 4px;
}

.mt-2xs {
  margin-top: 4px;
}

.mr-2xs {
  margin-right: 4px;
}

.mb-2xs {
  margin-bottom: 4px;
}

.ml-2xs {
  margin-left: 4px;
}

.mx-2xs {
  margin-left: 4px;
  margin-right: 4px;
}

.my-2xs {
  margin-top: 4px;
  margin-bottom: 4px;
}

.m-xs {
  margin: 6px;
}

.mt-xs {
  margin-top: 6px;
}

.mr-xs {
  margin-right: 6px;
}

.mb-xs {
  margin-bottom: 6px;
}

.ml-xs {
  margin-left: 6px;
}

.mx-xs {
  margin-left: 6px;
  margin-right: 6px;
}

.my-xs {
  margin-top: 6px;
  margin-bottom: 6px;
}

.m-s {
  margin: 8px;
}

.mt-s {
  margin-top: 8px;
}

.mr-s {
  margin-right: 8px;
}

.mb-s {
  margin-bottom: 8px;
}

.ml-s {
  margin-left: 8px;
}

.mx-s {
  margin-left: 8px;
  margin-right: 8px;
}

.my-s {
  margin-top: 8px;
  margin-bottom: 8px;
}

.m-m {
  margin: 12px;
}

.mt-m {
  margin-top: 12px;
}

.mr-m {
  margin-right: 12px;
}

.mb-m {
  margin-bottom: 12px;
}

.ml-m {
  margin-left: 12px;
}

.mx-m {
  margin-left: 12px;
  margin-right: 12px;
}

.my-m {
  margin-top: 12px;
  margin-bottom: 12px;
}

.m-l {
  margin: 16px;
}

.mt-l {
  margin-top: 16px;
}

.mr-l {
  margin-right: 16px;
}

.mb-l {
  margin-bottom: 16px;
}

.ml-l {
  margin-left: 16px;
}

.mx-l {
  margin-left: 16px;
  margin-right: 16px;
}

.my-l {
  margin-top: 16px;
  margin-bottom: 16px;
}

.m-xl {
  margin: 24px;
}

.mt-xl {
  margin-top: 24px;
}

.mr-xl {
  margin-right: 24px;
}

.mb-xl {
  margin-bottom: 24px;
}

.ml-xl {
  margin-left: 24px;
}

.mx-xl {
  margin-left: 24px;
  margin-right: 24px;
}

.my-xl {
  margin-top: 24px;
  margin-bottom: 24px;
}

.m-2xl {
  margin: 36px;
}

.mt-2xl {
  margin-top: 36px;
}

.mr-2xl {
  margin-right: 36px;
}

.mb-2xl {
  margin-bottom: 36px;
}

.ml-2xl {
  margin-left: 36px;
}

.mx-2xl {
  margin-left: 36px;
  margin-right: 36px;
}

.my-2xl {
  margin-top: 36px;
  margin-bottom: 36px;
}

.m-3xl {
  margin: 64px;
}

.mt-3xl {
  margin-top: 64px;
}

.mr-3xl {
  margin-right: 64px;
}

.mb-3xl {
  margin-bottom: 64px;
}

.ml-3xl {
  margin-left: 64px;
}

.mx-3xl {
  margin-left: 64px;
  margin-right: 64px;
}

.my-3xl {
  margin-top: 64px;
  margin-bottom: 64px;
}

.m-4xl {
  margin: 80px;
}

.mt-4xl {
  margin-top: 80px;
}

.mr-4xl {
  margin-right: 80px;
}

.mb-4xl {
  margin-bottom: 80px;
}

.ml-4xl {
  margin-left: 80px;
}

.mx-4xl {
  margin-left: 80px;
  margin-right: 80px;
}

.my-4xl {
  margin-top: 80px;
  margin-bottom: 80px;
}

.gap-s {
  gap: 8px;
}

.gap-m {
  gap: 12px;
}

.gap-l {
  gap: 16px;
}

.gap-xl {
  gap: 24px;
}

.gap-2xl {
  gap: 36px;
}

.corner-xs {
  border-radius: 4px;
}

.corner-s {
  border-radius: 6px;
}

.corner-m {
  border-radius: 8px;
}

.corner-l {
  border-radius: 12px;
}

.corner-xl {
  border-radius: 16px;
}

.corner-2xl {
  border-radius: 20px;
}

.corner-3xl {
  border-radius: 24px;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.ali-center {
  align-items: center;
}

.ali-start {
  align-items: flex-start;
}

.ali-end {
  align-items: flex-end;
}

.ali-stretch {
  align-items: stretch;
}

.ali-baseline {
  align-items: baseline;
}

.jus-start {
  justify-content: flex-start;
}

.jus-end {
  justify-content: flex-end;
}

.jus-center {
  justify-content: center;
}

.jus-between {
  justify-content: space-between;
}

.jus-around {
  justify-content: space-around;
}

.jus-evenly {
  justify-content: space-evenly;
}

.flex-1 {
  flex: 1;
}

.flex-auto {
  flex: auto;
}

.flex-none {
  flex: none;
}

@keyframes jiggle {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-4px);
  }
  50% {
    transform: translateX(4px);
  }
  75% {
    transform: translateX(-2px);
  }
}
.jiggle {
  animation: jiggle 0.2s ease;
}

/*# sourceMappingURL=main.css.map */
