@import url("/assets/styles/utilities/fonts.css");
@import url("/assets/styles/components/button.css");

body {
  font-family: "Gotham", Arial, sans-serif;
  line-height: 1.6;
  color: var(--token-color-text-b);
  background-color: #080808;
}

h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: var(--token-color-text-a);
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
  color: var(--token-color-text-a);
}

h3 {
  font-size: 1.75rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: var(--token-color-text-a);
}

h4 {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: var(--token-color-text-a);
}

h5 {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: var(--token-color-text-a);
}

h6 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: var(--token-color-text-a);
}

p {
  font-size: 1.1rem;
  font-weight: 300;
  margin-bottom: 1rem;
  color: var(--token-color-text-b);
}

#projects {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project {
  width: 100%; /* Full width */
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  position: relative; /* Relative position for absolute positioning of the label */
  background-color: #1e1e1e; /* Placeholder color */
  margin-bottom: 20px; /* Space between project divs */
}

.project-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  color: #e9e9e9; /* Dark grey color for text */
}

@media (min-width: 768px) {
  .project {
    width: 100%; /* Full width */
    padding-top: 56.25%; /* Maintain 16:9 aspect ratio */
  }
}

#main-layout {
  display: flex;
  flex-direction: column;
}

.intro-section {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-content {
  border-radius: 6px;
  padding: var(--spacing-4xl);
}

.description {
  color: #e6e6e6;
  font-size: 20px;
  font-family: Gotham, sans-serif;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 20px; /* Adjust as needed */
}

.primary-btn {
  background: #191919;
  color: white;
  font-size: 15px;
  font-family: Gotham, sans-serif;
  font-weight: 500;
  padding: 10px 24px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.footer {
  background: #191919;
  backdrop-filter: blur(8px);
  width: 100%;
  padding: 36px 24px;
  display: flex;
  justify-content: center;
}

.website-link {
  color: white;
  font-size: 24px;
  font-family: Gotham, sans-serif;
  font-weight: 500;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}
