<div class="w-full overflow-visible">
  <div class="scrollbar-hide overflow-scroll pb-lg">
    <div class="flex items-center justify-start gap-sm h-auto">
      <div class="tile">
        <p class="text-nowrap">Design Systems</p>
      </div>
      <div class="tile">
        <p class="text-nowrap">App Development</p>
      </div>
      <div class="tile">
        <p class="text-nowrap">User Centric Design</p>
      </div>
      <div class="tile">
        <p class="text-nowrap">Graphic Design</p>
      </div>
      <div class="tile">
        <p class="text-nowrap">Wireframing</p>
      </div>
      <div class="tile">
        <p class="text-nowrap">Prototyping</p>
      </div>
      <div class="tile">
        <p class="text-nowrap">Motion</p>
      </div>
      <div class="tile">
        <p class="text-nowrap">Branding</p>
      </div>
      <div class="tile">
        <p class="text-nowrap">Typography</p>
      </div>
      <div class="tile">
        <p class="text-nowrap">Japanese Speaker</p>
      </div>
      <div class="tile">
        <p class="text-nowrap">Responsive Design</p>
      </div>
      <div class="tile">
        <p class="text-nowrap">Web Development</p>
      </div>
      <div class="tile">
        <p class="text-nowrap">3D Modelling & Rendering</p>
      </div>
      <div class="tile">
        <p class="text-nowrap">Print Formatting</p>
      </div>
      <div class="tile">
        <p class="text-nowrap">Communication Skills</p>
      </div>
    </div>
  </div>
</div>
