html,
body {
  transition: all 0.2s ease;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; // IE and Edge
  scrollbar-width: none; // Firefox
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Gotham", Arial, sans-serif;
  line-height: 1.6;
  @extend .text-color-a;
  background-color: var(--token-color-surface-a);
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend .weight-medium;
  @extend .text-color-a;
  line-height: 130%;
}

h1 {
  @extend .text-4xl;
}
h2 {
  @extend .text-3xl;
}
h3 {
  @extend .text-2xl;
}
h4 {
  @extend .text-xl;
}
h5 {
  @extend .text-xl;
}
h6 {
  @extend .text-l;
}

p {
  @extend .text-m;
  @extend .weight-book;
}

ul {
  list-style: none;
}

li {
  @extend .text-m;
  @extend .weight-book;
}

label {
  @extend .text-l;
  @extend .weight-book;
  @extend .flex;
}

@mixin font-gotham {
  @extend .weight-medium;
}
