@layer base {
  @font-face {
    font-family: "Gotham";
    src: url("../../public/assets/fonts/gotham/ttf/Gotham-Medium_Web.ttf")
        format("truetype"),
      url("../../public/assets/fonts/gotham/woff/Gotham-Medium_Web.woff")
        format("woff"),
      url("../../public/assets/fonts/gotham/woff2/Gotham-Medium_Web.woff2")
        format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Gotham";
    src: url("../../public/assets/fonts/gotham/ttf/Gotham-MediumItalic_Web.ttf")
        format("truetype"),
      url("../../public/assets/fonts/gotham/woff/Gotham-MediumItalic_Web.woff")
        format("woff"),
      url("../../public/assets/fonts/gotham/woff2/Gotham-MediumItalic_Web.woff2")
        format("woff2");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Gotham";
    src: url("../../public/assets/fonts/gotham/ttf/Gotham-Book_Web.ttf")
        format("truetype"),
      url("../../public/assets/fonts/gotham/woff/Gotham-Book_Web.woff")
        format("woff"),
      url("../../public/assets/fonts/gotham/woff2/Gotham-Book_Web.woff2")
        format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Gotham";
    src: url("../../public/assets/fonts/gotham/ttf/Gotham-BookItalic_Web.ttf")
        format("truetype"),
      url("../../public/assets/fonts/gotham/woff/Gotham-BookItalic_Web.woff")
        format("woff"),
      url("../../public/assets/fonts/gotham/woff2/Gotham-BookItalic_Web.woff2")
        format("woff2");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Gotham";
    src: url("../../public/assets/fonts/gotham/ttf/Gotham-Light_Web.ttf")
        format("truetype"),
      url("../../public/assets/fonts/gotham/woff/Gotham-Light_Web.woff")
        format("woff"),
      url("../../public/assets/fonts/gotham/woff2/Gotham-Light_Web.woff2")
        format("woff2");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Gotham";
    src: url("../../public/assets/fonts/gotham/ttf/Gotham-LightItalic_Web.ttf")
        format("truetype"),
      url("../../public/assets/fonts/gotham/woff/Gotham-LightItalic_Web.woff")
        format("woff"),
      url("../../public/assets/fonts/gotham/woff2/Gotham-LightItalic_Web.woff2")
        format("woff2");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
  }
}
