.section {
  @extend .flex;
  @extend .px-5xl;
  @extend .py-3xl;
  @extend .gap-2xl;
  @extend .flex-column;
  @extend .jus-center;
  @extend .ali-baseline;
  width: 100%;
  min-height: 640px;
  max-width: 1200px;
  @extend .px-2xl-sm;
  align-self: center;
  justify-self: center;
  scroll-margin-top: 100px;
}

.input-section {
  @extend .flex-column;
  @extend .gap-3xs;
  @extend .w-full;
}

.contact-form {
  @extend .flex;
  @extend .flex-column;
  @extend .gap-l;
  @extend .w-full;
  max-width: 600px;
}

input {
  @extend .py-m;
  @extend .px-s;
  @extend .ali-center;
  @extend .w-full;
  @extend .corner-m;
  @extend .border-m-b;
  box-sizing: border-box;
  background-color: transparent;

  &:focus {
    outline: none;
  }
}

input-error {
  @extend .text-color-bad-a;
}

textarea {
  min-height: 120px;
  resize: none;
  @extend .py-m;
  @extend .px-s;
  @extend .ali-center;
  @extend .w-full;
  @extend .corner-m;
  @extend .border-m-b;
  overflow: hidden;
  box-sizing: border-box;
  background-color: transparent;
  &:focus {
    outline: none;
  }
}

label {
  @extend .flex-column;
  @extend .ali-start;
  @extend .gap-s;

  .top {
    @extend .flex-row;
    @extend .jus-between;
    @extend .ali-center;
    @extend .w-full;
  }
}

.tools-skills-list {
  @extend .flex;
  @extend .flex-column;
  @extend .gap-2xs;
  li {
    @extend .gap-s;
    @extend .flex;
    @extend .ali-center;
  }
}
