.highlight {
  position: relative;
  display: block;
  display: inline-block;
  @extend .text-color-hl-a;
}

.highlight::before {
  content: attr(data-text);
  position: absolute;
  @extend .text-color-hl-a;
  @extend .blur-7;
  @extend .opacity-40;
  transform: scale(0.97) translateY(3%);
}

.input-section {
  label {
    @extend .text-m;
    @extend .text-color-a;
    @extend .weight-medium;
  }
  .label-error {
    @extend .text-color-bad-a;
  }
}

input {
  @extend .weight-light;
  @extend .text-s;
  @extend .text-color-a;
}

input::placeholder {
  @extend .text-color-b;
  @extend .weight-light;
}

.input-error {
  @extend .text-color-bad-a;
}

.input-error::placeholder {
  @extend .text-color-bad-b;
}

textarea {
  @extend .weight-light;
  line-height: 1.6;
  @extend .text-color-a;
  @extend .text-s;
}

textarea::placeholder {
  @extend .text-color-b;
  @extend .weight-light;
}

.error-message {
  @extend .text-color-bad-a;
  @extend .text-xs;
  display: none;
}
