section h1 .highlight {
  position: relative;
  display: block;
  display: inline-block;
  @extend .weight-medium;
  line-height: 1.2;
  color: transparent;
  background-image: var(--token-color-surface-multi);
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 100%;
  background-position: 50% 50%;
  &:hover {
    transform: scale(1.005);
    transition: transform 500ms;
  }
}

.section h1 .highlight::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: inherit;
  font-weight: var(--font-weight-medium);
  line-height: inherit;
  color: transparent;
  background-image: var(--token-color-surface-multi);
  -webkit-background-clip: text;
  background-clip: text;
  filter: blur(5px);
  opacity: 0.5;
  background-size: inherit;
  background-position: inherit;
  transform: translateY(3px) scale(0.95);
}

.input-section {
  label {
    @extend .text-m;
    @extend .text-color-a;
    @extend .weight-medium;
  }
  .label-error {
    @extend .text-color-bad-a;
  }
}

input {
  @extend .weight-light;
  @extend .text-s;
  @extend .text-color-a;
}

input::placeholder {
  @extend .text-color-b;
  @extend .weight-light;
}

.input-error {
  @extend .text-color-bad-a;
}

.input-error::placeholder {
  @extend .text-color-bad-b;
}

textarea {
  @extend .weight-light;
  line-height: 1.6;
  @extend .text-color-a;
  @extend .text-s;
}

textarea::placeholder {
  @extend .text-color-b;
  @extend .weight-light;
}

.error-message {
  @extend .text-color-bad-a;
  @extend .text-xs;
  display: none;
}
